%html
    %head
        %title
        %link(rel="stylesheet" type="text/css" href="index.css")
    %body
        %p.new
            %span hhhhhhhh
        .portfolio
            %ul
                - (1..16).each do
                    %li r
        .starbucks
            %ul
                - (1..5).each do
                    %li r