!!! 5
:javascript
    $('.awesome').on('click' function(){
        $('p').hide('slow');
    })
:css
    .awesome {
        background-color:red;
    }
:sass
    .feature
        color : red
        font-weight : bold
%body
    %header
        %h1 Hi Im there
    %section
        %p hello
        %img(src = "C:\\Users\\I354770\\Desktop\\GitHubJavascript\\Javascript\\cat.jpg" alt = "cat image")
    %section.feature
    %section.feature.prop
    %section#hello.feature(role = 'reigion')
    .aswesome
        %input(checked = true type = 'checkbox' )
    .awesome-feature#done