*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;;
}
header{
    min-height: 100vh;
    background : linear-gradient(240deg , #834d4d, #503d3d);
    position: relative;
    z-index: -1;
}

.intro-text{
    position: absolute;
    top : 50%;
    left : 20%;
    color: white;
}
.intro-text h1{
    margin-bottom: 10px;
}


.chair{
    height : 100vh;
    position: absolute;
    top : 5%;
    left : 50%;
}

.big-rose{
    height : 30vh;
    position: absolute;
    top : 25%;
    left : 80%;
}
.small-rose{
    height : 20vh;
    position: absolute;
    top : 25%;
    right : 45%;
}

section{
    min-height: 50vh;
    color : #834d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    background-color: lightslategray;
}